@media (width > 1000px) {
  .projects-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 100px;
    background-color: #0c0c0c;

    height: fit-content;
    width: 100%;

    font-size: 6rem;
    font-weight: 600;

    color: white;

    margin-top: 2rem;

    padding: 0 10rem;
  }

  .project-container {
    width: 50%;
    height: fit-content;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    padding: 2rem;
    margin-top: 3rem;
    /* background-color: #141414; */
    border-radius: 25px;
  }

  .project-image {
    background-color: green;
    width: auto;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-info {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    gap: 0;
    color: white;
  }

  .project-title {
    font-size: 4rem;
    font-weight: 500;
  }

  .project-subtitle {
    font-size: 1.5rem;
    font-weight: 350;
    color: #aaa;
    white-space: nowrap;
  }

  .project-title-wip {
    font-size: 1rem;
    font-weight: 500;
    color: #ff5400;
    margin-bottom: 1rem;
  }
  .project-body {
    font-size: 1.4rem;
    font-weight: 350;
    padding: 1rem;
    width: 20vw;
    /* background-color: #141414; */
    /* border-radius: 18px; */
    color: gray; /* Sets the text color to gray */
  }

  .project-body ul {
    list-style-type: disc; /* Adds bullet points */
    /* padding-left: 2rem; Adds padding to the left of list items */
  }

  .project-body li {
    margin-bottom: 1rem; /* Adds spacing between list items */
  }

  .project-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 16px;
    gap: 1rem;
    align-content: center;
  }

  .project-buttons-button {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 12px;
    background-color: #ff5400;
    border: none;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
  }

  .project-buttons-button:hover {
    scale: 1.1;
  }

  /* Carousel code */
  .carousel {
    position: relative;
    width: 100%;
    height: 600px;

    padding-bottom: 30px; /* Space for indicators */
  }

  .carousel-images {
    width: 600px;
    height: 100%;
    display: flex; /* Arrange images in a row */
    align-items: center;
    justify-content: center;
  }

  .carousel-image {
    width: 300px;
    max-height: 450px;
    height: 100%;
    flex: 0 0 auto; /* Prevent images from shrinking or growing */
    opacity: 0; /* Hide images initially */
    transition: opacity 0.4s; /* Smoothly transition the opacity of images */
    position: absolute; /* All images stack on top of each other */
    object-fit: contain; /* Maintain aspect ratio */

    overflow: hidden;
    border-radius: 25px;
  }

  .scale-project-image {
    scale: 1.5;
  }

  .carousel-image.active {
    opacity: 1; /* Show active image */
    overflow: hidden;
    border-radius: 25px;
  }
  .carousel-indicators {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .carousel-indicators .indicator {
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #aaa;
    transition: all 0.3s; /* Smoothly transition the size and color of indicators */
    cursor: pointer;
  }

  .carousel-indicators .indicator.active {
    background-color: #ff5400;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
  }

  .carousel-indicators .indicator:hover {
    scale: 1.3;
    margin: 0 1rem;
    background-color: darkorange;
  }
}

@media (768px < width <= 1000px) {
  .projects-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #0c0c0c;

    height: fit-content;
    width: 100%;

    font-size: 6rem;
    font-weight: 600;

    color: white;

    margin-top: 2rem;

    padding: 0 2rem;
  }

  .project-container {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    /* padding: 2rem; */
    margin-top: 2rem;
    /* background-color: #141414; */
    border-radius: 25px;
    gap: 1rem;
  }

  .project-image {
    background-color: green;
    width: auto;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-info {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    gap: 0;
    color: white;
  }

  .project-title {
    font-size: 4rem;
    font-weight: 500;
  }

  .project-subtitle {
    font-size: 1.5rem;
    font-weight: 350;
    color: #aaa;
    white-space: nowrap;
  }

  .project-title-wip {
    font-size: 1rem;
    font-weight: 500;
    color: #ff5400;
    margin-bottom: 1rem;
  }
  .project-body {
    font-size: 1.4rem;
    font-weight: 350;
    padding: 1rem;
    width: 20vw;
    /* background-color: #141414; */
    /* border-radius: 18px; */
    color: gray; /* Sets the text color to gray */
  }

  .project-body ul {
    list-style-type: disc; /* Adds bullet points */
    /* padding-left: 2rem; Adds padding to the left of list items */
  }

  .project-body li {
    margin-bottom: 1rem; /* Adds spacing between list items */
  }

  .project-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 16px;
    gap: 1rem;
    align-content: center;
  }

  .project-buttons-button {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 12px;
    background-color: #ff5400;
    border: none;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
  }

  .project-buttons-button:hover {
    scale: 1.1;
  }

  /* Carousel code */
  .carousel {
    position: relative;
    width: 100%;
    height: 600px;

    padding-bottom: 30px; /* Space for indicators */
  }

  .carousel-images {
    width: 100%;
    height: 100%;
    display: flex; /* Arrange images in a row */
    align-items: center;
    justify-content: center;
  }

  .carousel-image {
    width: 200px;
    max-height: 350px;
    height: 100%;
    flex: 0 0 auto; /* Prevent images from shrinking or growing */
    opacity: 0; /* Hide images initially */
    transition: opacity 0.4s; /* Smoothly transition the opacity of images */
    position: absolute; /* All images stack on top of each other */
    object-fit: contain; /* Maintain aspect ratio */

    overflow: hidden;
    border-radius: 25px;
  }

  .scale-project-image {
    scale: 1.5;
  }

  .carousel-image.active {
    opacity: 1; /* Show active image */
    overflow: hidden;
    border-radius: 25px;
  }
  .carousel-indicators {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .carousel-indicators .indicator {
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #aaa;
    transition: all 0.3s; /* Smoothly transition the size and color of indicators */
    cursor: pointer;
  }

  .carousel-indicators .indicator.active {
    background-color: #ff5400;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
  }

  .carousel-indicators .indicator:hover {
    scale: 1.3;
    margin: 0 1rem;
    background-color: darkorange;
  }
}

@media (width <= 768px) {
  .projects-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #0c0c0c;

    height: fit-content;
    width: 100%;

    font-size: 3rem;
    font-weight: 600;

    color: white;
  }

  .project-container {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column-reverse;

    align-items: center;
    justify-content: center;

    border-radius: 25px;
    padding: 1.5rem;

    margin-top: 30px;
  }

  #reverse-project-container {
    flex-direction: column;
  }

  .project-image {
    background-color: green;
    width: auto;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-info {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    gap: 0;
    color: white;
  }

  .project-title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .project-subtitle {
    font-size: 1rem;
    font-weight: 350;
    color: #aaa;
    white-space: nowrap;
  }

  .project-title-wip {
    font-size: 14px;
    font-weight: 500;
    color: #ff5400;
    margin-bottom: 1rem;
  }

  .project-body {
    font-size: 1rem;
    font-weight: 350;

    color: gray;

    margin-top: 10px;
  }

  .project-body ul {
    list-style-type: disc; /* Adds bullet points */
    padding-left: 1rem;
  }

  .project-body li {
    margin-bottom: 20px;
  }

  .project-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    align-content: center;
    height: auto;
  }

  .project-buttons-button {
    font-size: 1.25rem;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #ff5400;
    border: none;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
  }

  /* Carousel code */
  .carousel {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .carousel-images {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel-image {
    width: 50%;
    max-width: 100px;
    max-height: 100px;
    height: auto;
    flex: 1 0 auto;
    opacity: 0;
    transition: opacity 0.4s;
    object-fit: contain;
    position: absolute;
    overflow: hidden;
  }

  .scale-project-image {
    scale: 2;
    max-height: 60px !important;
  }

  .carousel-image.active {
    opacity: 1; /* Show active image */
    overflow: hidden;
    border-radius: 8px;
  }
  .carousel-indicators {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: fit-content;
    text-align: center;
  }

  .carousel-indicators .indicator {
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #aaa;
    transition: all 0.3s; /* Smoothly transition the size and color of indicators */
    cursor: pointer;
  }

  .carousel-indicators .indicator.active {
    background-color: #ff5400;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
  }

  .carousel-indicators .indicator:hover {
    scale: 1.3;
    margin: 0 1rem;
    background-color: #ff5400;
  }
}
