.about-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem; /* Add a 1rem gap between grid items */
    border-radius: 20px;
}

.about-card{
    background: var(--card-gradient);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add drop shadow */
}

.about-card:hover{
    transform: translateY(-10px); /* Add a 10px upward translation on hover */
    transition: transform 0.3s ease; /* Add a 0.3s transition */
}

.about-card-icon{
    min-height: 50px;
    max-height: 50px;
}

.about-card h2{
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
}

.about-card h3{
    color: var(--tertiary-color);
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 25px;
}







.carousel-container {
    overflow: hidden;
    position: relative;
    height: 100px;
    border-color: #4b5563;
    width: 100%;
  }
  
  .carousel-card {
    padding: 1rem 2rem;
    margin: 0.7rem;
    font-size: 1.6rem;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    white-space: nowrap; /* Force text to be inline */
  }

  .skill:hover {
    background-color: #ff5400;
    scale: 1.1;
  }

  .carousel-card h2 {
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
  }


.carousel-card:hover {
    transform: scale(0.9);
    /* box-shadow: 5px 5px 8px rgba(222, 222, 222, 0.362),
        10px 10px 8px rgba(152, 133, 133, 0.392),
        15px 15px 8px rgba(139, 154, 139, 0.303); */
}
  
  .carousel-track {
    display: flex;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 16px;
    width: 200%;
    height: 100%;
    animation: slide 20s linear infinite;

  }

  .carousel-track:hover {
    animation-play-state: paused;
  }

  @keyframes slide {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }